.reveal {
  font-size: 36px;
}

.reveal pre code {
  max-height: 80%;
}

* {
  font-family: Helvetica, sans-serif !important;
}

.table-of-contents h1 {
  font-size: 16px;
}
.table-of-contents {
  max-height: 95%;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  font-size: 14px;
}

.section[data-markdown-parsed="true"] i {
  font-style: italic;
}

.reveal .slides section .mermaid {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal .slides section .mermaid > svg {
  width: 100% !important;
  height: 100% !important;
  max-height: 100vh;
  max-width: 100vw;
}

.reveal .slides section.present {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
