.reveal {
  font-size: 36px;
}

.reveal pre code {
  max-height: 80%;
  overflow: auto;
}

* {
  font-family: Helvetica, sans-serif !important;
}

.table-of-contents h1 {
  font-size: 16px;
}
.table-of-contents {
  max-height: 95%;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  font-size: 14px;
}

.section[data-markdown-parsed="true"] i {
  font-style: italic;
}

/* Allow long slide content to scroll vertically */
.reveal .slides section {
  max-height: 100%;
  overflow-y: auto;
}
